.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
    height: 500px; 
  }

  div h2, h3 {
    margin-left: 3em;

  }

  div h3, h2 {
      margin-left: 3em;
  }