{% extends 'base.html' %}
{% block content %}
<div class="card bg-secondary" style="width: 18rem;">
    <img src="/app/static/images/angel_hair.jpeg" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title text-info">Marinara</h5>
      <p class="card-info text-info">Our home-made marinara sauce is a tasteful blend of tomatoes, garlic, herbs, and onions. We also include a special blend of spices and a dash of red wine from our local vineyard.</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div>
{% endblock %}