{% extends 'base.html' %}
{% block content %}
<div class="card bg-secondary mt-4" style="width: 18rem;">
    <img src="{{ url_for('static', filename='marinara.jpeg')}}" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title">Marinara</h5>
      <p class="card-info">Our home-made marinara sauce is a tasteful blend of tomatoes, garlic, herbs, and onions. We also include a special blend of spices and a dash of red wine from our local vineyard.</p>
      <footer class="blockquote-footer text-dark"> $8.99 </footer>
      {% if current_user.is_authenticated %}
      <a href="#" class="btn btn-success">Add To Cart</a>
      {% endif %}
    </div>
  </div>
{% endblock %}