{% extends 'base.html' %}
{% block content %}

{% for product in products %}
{% for c in MyCart %}
    <div class="card text-center bg-secondary text-white mb-3">
        <div class="card-header font_meie_script">
        {{ c.name }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ c.price }}</p>
            <footer class="blockquote-footer text-dark"> ${{ c.user_id }} </footer>
        </blockquote>
        <a href="/{{r.prod_name}}" class="btn btn-danger">Remove From Card</a>
        </div>
    </div>
{% endfor %}         
{% endfor %}

{% endblock %}