{% extends 'base.html' %}
{% block content %}


    <div class="card text-center bg-secondary text-white mb-3 mt-3">
        <div class="card-header font_meie_script">
        Angel Hair
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>-$5.99</p>
            <footer class="blockquote-footer text-dark">  </footer>
        </blockquote>
        <a href="#" class="btn btn-danger">Remove From Cart</a>
        </div>
    </div>

    <h2 class="mt-4 mb-5">Total: $5.99</h2>
    <a href="#" class="btn btn-info mt-2 mb-3">Proceed to Checkout</a>

         


{% endblock %}