{% extends 'base.html' %}
{% block content%}
<div class="card bg-secondary" style="width: 18rem;">
    <img src="{{ url_for('static', filename='penne.jpeg')}}" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title">Penne</h5>
      <p class="card-info">Penne is one of the most famous Italian pasta shapes and is loved across Italy and the world. Penne translates to the word “pen”, and gets its name from its shape – a short cylinder-shaped pasta that has angled edges. ... Penne Rigate pairs nicely with chunky meat, chunky vegetable, cream, or oil based sauces.</p>
      <footer class="blockquote-footer text-dark"> $5.99 </footer>
      {% if current_user.is_authenticated %}
      <a href="#" class="btn btn-success">Add To Cart</a>
      {% endif %}
    </div>
  </div>
{% endblock %}