{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
<h4 class="fw-bold fs-3 mt-4 mb-4">Hello {{ current_user.username }}: Enjoy our wide range of hand-crafted products.</h4>

{% for r in product %}
    <div class="card text-center bg-secondary text-white mb-3">
        <div class="card-header">
        {{ r.prod_name }}
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ r.description }}</p>
            <footer class="blockquote-footer text-dark"> ${{ r.price }} </footer>
        </blockquote>
        <a href="#" class="btn btn-success">Add to Cart</a>
        <a href="/{{r.prod_name}}" class="btn btn-primary">More Information</a>
        </div>
    </div>
{% endfor %}

{% else %}
<h4 class="fw-bold fs-2">Please register to view our products page</h4>
{% endif %}

{% endblock %}