{% extends 'base.html' %}
{% block content %}
<div class="card bg-secondary" style="width: 18rem;">
    <img src="/app/static/images/angel_hair.jpeg" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title text-info">Rigatoni</h5>
      <p class="card-info text-info">Rigatoni, which comes from the word “rigato” meaning ridged, are short, wide tubes of pasta that have ridges on the outside, but are smooth on the inside. Rigatoni are perfect for big chunkier sauces as their ridges and wide center help capture the sauce perfectly.</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div>
{% endblock %}