{% extends 'base.html' %}
{% block content %}
<div class="card bg-secondary mt-4" style="width: 18rem;">
    <img src="{{ url_for('static', filename='Rigatoni.jpeg')}}" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title">Rigatoni</h5>
      <p class="card-info">Rigatoni, which comes from the word “rigato” meaning ridged, are short, wide tubes of pasta that have ridges on the outside, but are smooth on the inside. Rigatoni are perfect for big chunkier sauces as their ridges and wide center help capture the sauce perfectly.</p>
      <footer class="blockquote-footer text-dark"> $5.99 </footer>
      {% if current_user.is_authenticated %}
      <a href="#" class="btn btn-success">Add To Cart</a>
      {% endif %}
    </div>
  </div>
{% endblock %}