{% extends 'base.html' %}
{% block content %}
<div class="card bg-secondary" style="width: 18rem;">
    <img src="/app/static/images/angel_hair.jpeg" class="card-img-top" alt="angel hair pasta">
    <div class="card-body">
      <h5 class="card-title text-info">Vodka Sauce</h5>
      <p class="card-info text-info">Our home-made vodka sauces is made from a smooth tomato base, we then include vodka, italian herbs, and heavy cream. Along with a few other secret ingredients our vodka sauce is a favorite among many!</p>
      <a href="#" class="btn btn-info">Add To Cart</a>
    </div>
  </div>
{% endblock %}